<settings>
	<features>
		<colourspace>0</colourspace>
		<type>0</type>
		<smoothingsigma>0</smoothingsigma>
		<gridspacing>8</gridspacing>
		<patchsize>16</patchsize>
	</features>
	<codebook>
		<textonimages>200</textonimages>
		<codewords>400</codewords>
	</codebook>
	<histograms>
		<type>0</type>
		<pyramidlevels>2</pyramidlevels>
	</histograms>
	<classifier>
		<c>10</c>
		<imagesperclass>100</imagesperclass>
	</classifier>
</settings>

